
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
    <!--<script src="/js/api/kachha.js" type="text/javascript"></script>-->
    <script src="/js/app/pages/home.js" type="text/javascript"></script>
</head>
<body>
    <header id="header">
        <% include common/header %>
    </header>

    <section id="content_body">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">

                    <div class="banner-slider-carousel" style="background: linear-gradient(rgba(31, 33, 32, 0.86), rgba(21, 6, 6, 0.84)), url(/images/edushala1.jpg);">
                        <div class="container" style="padding-top:10%">
                            <div class="row centermessage text-left">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="tagline"><h4> <span class="element1"></span><br></h4></div>
                                    <p>Explore our innovative courses – classroom instructions and online.</p>
                                    <div class="text-left large-buttons">
                                        <a target="_blank" href="#courses" class="btn btn-primary btn-lg">Browse Courses</a>
                                    </div><!-- end title -->
                                </div>
                            </div>
                            <div class="more-below">
                            	<a href="#courses" class="scrollTo"><i class="fa fa-angle-double-down  " aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="item">

                    <div class="banner-slider-carousel" style="background:linear-gradient(rgba(31, 33, 32, 0.86), rgba(21, 6, 6, 0.84)), url(/images/edushala2.jpg);">
                        <div class="container" style="padding-top:10%">
                            <div class="row centermessage text-left">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="tagline"><h4> <span class="element2"></span><br></h4></div>
                                    <p>Becoming an instructor at Edushala is a cakewalk if you are really passionate about what you want to teach</p>
                                    <div class="text-left large-buttons">
                                        <a target="_blank" href="course-list.html" class="btn btn-primary btn-lg text-uppercase ">Get Started </a>
                                    </div><!-- end title -->
                                </div>
                            </div>
	                        <div class="more-below">
	                        	<a href="#courses" class="scrollTo"><i class="fa fa-angle-double-down " aria-hidden="true"></i></a>
	                        </div>
                        </div>
                    </div>

                </div>
                <div class="item">

                    <div class="banner-slider-carousel" style="background: linear-gradient(rgba(31, 33, 32, 0.86), rgba(21, 6, 6, 0.84)),                                                       url(/images/edushala3.jpg);">
                        <div class="container" style="padding-top:10%">
                            <div class="row centermessage text-left">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="tagline"><h4><span class="element3"></span><br></h4></div>
                                    <p> We have our own learning management system - Eduware to manage your organization’s online and offline                                          training needs.</p>
                                    <div class="text-left large-buttons">
                                        <a target="_blank" href="#" class="btn btn-primary btn-lg requestdemo text-uppercase">Request for a Demo</a>
                                    </div><!-- end title -->
                                </div>
                            </div>
                            <div class="more-below">
                            	<a href="#courses" class="scrollTo"><i class="fa fa-angle-double-down " aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="item">

                    <div class="banner-slider-carousel" style="background: linear-gradient(rgba(31, 33, 32, 0.86), rgba(21, 6, 6, 0.84)), url(/images/edushala4.jpg);">
                        <div class="container" style="padding-top:10%">
                            <div class="row centermessage text-left">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="tagline"><h4 class="crou-subscribe">Get exclusive news about our special events, courses and more</h4></div>
                                    <!-- end title -->
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="row section-signup semitrans">
                                            <div class="col-md-12">
                                                <div class="form-group has-icon-left form-control-name">
                                                    <label class="sr-only" for="inputName">Your name</label>
                                                    <input type="text" class="form-control form-control-lg" id="inputName" placeholder="Your name">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group has-icon-left form-control-email">
                                                    <label class="sr-only" for="inputEmail">Email address</label>
                                                    <input type="email" class="form-control form-control-lg" id="inputEmail" placeholder="Email address" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block">Subscribe us</button>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <p>By sharing your email, you agree to our <a href="/terms">Privacy Policy</a>  and <a href="/terms">Terms of Service</a>.</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
	                        <div class="more-below">
	                        	<a href="#courses" class="scrollTo"><i class="fa fa-angle-double-down " aria-hidden="true"></i></a>
	                        </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- end section -->
        <script>
            $(document).ready(function(){
                // Top slider
                $('#myCarousel').carousel({
                    interval:4000,
                    pause: "hover"
                });

                $('#myCarousel').hover(
                    function() {
                        $(this).carousel('pause');
                    },
                    function() {
                        $(this).carousel('cycle');
                    }
                );

                $('#myCarousel').mouseenter(function() {
                    $(this).carousel('pause');
                }).mouseleave(function() {
                    $(this).carousel('next');
                });
            });
        </script>

        <div class="section" id="courses">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="big-title text-center">
                            <h2 class="text-center edu-green"><strong>Browse Courses</strong></h2>
                            <hr class="customhr customhrcenter">
                        </div><!-- end title -->
                    </div>
                </div>
                <div id="course_catalog" class="row course-list">
                    <% for (var i = 0; i < 8; i++) { %>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 wow fadeIn">
                        <div class="video-wrapper course-catalog course-widget clearfix">
                            <div class="post-media">
                                <div class="entry">
                                    <a href="/learn/<%= courses[i]._id %>">
                                        <img alt="" class="" height="160" src="<%= courses[i].pictureUrl %>">
                                    </a>
                                    <div></div>
                                </div>
                            </div><!-- end media -->
                            <div class="widget-title edu-box clearfix">
                                <h3><a href="/learn/<%= courses[i]._id %>"><%= courses[i].name %></a></h3>
                                <hr>
                                <div class="bottom-line clearfix">
                                    <div class="pull-left">
                                        <a class="readmore" href="#"><%= courses[i].educator.firstName + ' ' + courses[i].educator.lastName  %></a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="course-single.html" class="btn btn-sm btn-inverse">
                                            <span>Rs.</span><%= courses[i].price %>
                                        </a>
                                    </div>
                                </div><!-- end bottom -->
                            </div><!-- end title -->
                        </div><!--widget --><!-- end col -->
                    </div>
                    <% } %>
                </div><!-- end row -->

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <a class="btn btn-lg customhrcenter btn-edushala" href="/learn">Browse all courses</a>
                    </div>
                    <div class="col-md-4"></div>
                </div>

            </div><!-- end container -->
        </div><!-- end section -->

        <div class="section achievement" data-stellar-background-ratio="0.5" style="background-image:url('images/numbers_bg.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="custom_fact_item">
                            <div class="custom_fact_name text-center">
                                <h3 id="course-stat" class="stat-count">224</h3>
                                <h6>Completed Courses</h6>
                                <span>We have delivered many Project Based Learning courses in short time.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="custom_fact_item">
                            <div class="custom_fact_name text-center">
                                <h3 class="stat-count">154</h3>
                                <h6>Proud Teachers</h6>
                                <span>Hundreds of teachers have worked with us.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="custom_fact_item">
                            <div class="custom_fact_name text-center">
                                <h3 class="stat-count">664</h3>
                                <h6>Proud Teachers</h6>
                                <span>We have created training courses for top industries in Nepal.</span>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->

        <div class="section lb">
            <div class="container">
                <div class="row">
                    <div class="widget-title">
                        <h2 class="text-center edu-green"><strong>We're proud to have been covered on TV, on the web and in print.</strong></h2>
                    </div><!-- end title -->
                </div>
            </div>
            <div class="container">
                <div class="space-top-small"></div>
                    <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="7000" id="myCarouselGrid">

                        <div class="carouselGrid-inner">
                            <div class="item active">
                                <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6 ">
                                    <a href="https://ventureplus.com.np/wp-content/themes/_tk-1.0/includes/inc/download_issue.php?slug=issue-14" target="_blank">
                                        <img src="images/ecs.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6 ">
                                    <a href="https://www.facebook.com/TNM.Magazine/photos/a.573076362775123.1073741838.379744022108359/573076859441740/?type=3&theater" target="_blank">
                                        <img src="images/tnm.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6 ">
                                    <a href="https://glocalkhabar.com/featured/beginners-guide-successful-startup-feature-story/" target="_blank">
                                        <img src="images/glocal.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6 ">
                                    <a href="http://admin.myrepublica.com/portal/index.php/ads/ncell.swf?action=news_details&news_id=67601" target="_blank">
                                        <img src="images/republica.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6 ">
                                    <a href="http://www.huffingtonpost.com/niranjan-kunwar/edushala_b_4541063.html" target="_blank">
                                        <img src="images/huffing.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-lg-15 col-md-3 col-sm-4 col-xs-6 ">
                                    <a href="http://epaper-archive.ekantipur.com/kathmandupost/showtext.aspx?boxid=142451921&parentid=19406&issuedate=1872014" target="_blank">
                                        <img src="images/ktm_post.png" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>


                        </div>
                        <a class="left carouselGrid-control" href="#myCarouselGrid" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <a class="right carouselGrid-control" href="#myCarouselGrid" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
            </div><!-- end container -->
        </div><!-- end section -->
    </section>


    <footer id="footer">
    <% include common/footer %>
    </footer>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" id="autobtn" data-toggle="modal" data-target="#ad">
        Launch demo modal
    </button>
    <!-- Modal -->
    <div class="modal fade" id="ad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>

                <div class="modal-body">
                    <img src="/images/owl.png"  alt="ad" width="300" height="200"/>
                    <img src="/images/owl2.png"  class="pull-right branch" alt="ad" width="200" height="100"/>
                    <div class="modal-description text-center">
                        <h2>Welcome to Edushala!</h2>
                        <p> Love what you learn here.</p>
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="enter your email address">
                            </div>
                            <button type="submit" class="btn btn-default">SUBSCRIBE</button>
                        </form>
                        <p>Sign up for news, special events, career development and more.</p>

                        <span>By sharing your email, you agree to our<a href="/terms">Privacy Policy</a>  and <a href="/terms">Terms of Service</a></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
<script>
    setTimeout(function(){
      $('#ad').modal('show');
    },3000);
   /* setTimeout(function(){
        $('.close').trigger("click");
    },50000)*/

</script>

</body>
</html>
