
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header" class="header full-width transparent fixed header-small clearfix">
    <% include common/header %>
</header>

<section id="content_body">
    <div class="container">
        <section id="kachha-head">
            <h2>Available Courses at Edushala</h2>
            <p>Browse available classes at Edushala and sign up for the ones you are interested in. We have a growing number of passionate educators in our community so don't forget to come back to find new classes. If you can not find a course you are looking for, feel free to suggest a course of your interest.</p>
        </section>
    </div>

    <div class="section">
        <div class="container">
            <div id="course_catalog" class="row course-list">
                <% for (var i = 0; i < courses.length; i++) { %>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeIn">
                    <div class="video-wrapper course-catalog course-widget clearfix">
                        <div class="post-media">
                            <div class="entry">
                                <a href="/learn/<%= courses[i]._id %>">
                                    <img alt="" class="" height="160" src="<%= courses[i].pictureUrl %>">
                                </a>
                                <div></div>
                            </div>
                        </div><!-- end media -->
                        <div class="widget-title edu-box clearfix">
                            <h3><a href="/learn/<%= courses[i]._id %>"><%= courses[i].name %></a></h3>
                            <hr>
                            <div class="bottom-line clearfix">
                                <div class="pull-left">
                                    <a class="readmore" href="#"><%= courses[i].educator ? courses[i].educator.firstName + ' ' + courses[i].educator.lastName : 'Not Set' %></a>
                                </div>
                                <div class="pull-right">
                                    <a href="course-single.html" class="btn btn-sm btn-inverse">
                                        <span>Rs.</span><%= courses[i].price %>
                                    </a>
                                </div>
                            </div><!-- end bottom -->
                        </div><!-- end title -->
                    </div><!--widget --><!-- end col -->
                </div>
                <% } %>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
</section>

<footer id="footer">
    <% include common/footer %>
</footer>

</body>
</html>
