
<html>
<head>
    <% include ../common/head %>
</head>
<body>
<header id="header" class="header full-width transparent fixed header-small clearfix">
    <% include ../common/header %>
</header>

<section id="content_body">
    <div class="page-title section lb">
        <div class="container">
            <div class="clearfix">
                <div class="title-area pull-left">
                    <h2>Edushala Blog <small>Welcome to edushala blog page.</small></h2>
                </div><!-- /.pull-right -->
                <div class="pull-right hidden-xs">
                    <div class="bread">
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li class="active">Blog Single</li>
                        </ol>
                    </div><!-- end bread -->
                </div><!-- /.pull-right -->
            </div><!-- end clearfix -->
        </div>
    </div><!-- end page-title -->

    <div class="section">

        <div class="container">
            <div class="row">
                <div class="content col-md-9 col-sm-12">
                   <!-- <div class="post-media">
                        <img src="images/course.jpg" alt="" class="img-responsive">
                    </div> -->

                    <div class="post-padding">
                        <div class="blog-big-title clearfix">
                            <h3><%= blog.title %></h3>
                        </div>

                        <div class="blog-single-meta clearfix">
                            <ul class="list-inline">
                                <li> <a href="/" class="readmore">Edushala</a></li>
                                <li><i class="fa fa-clock-o"></i> <%= blog.dateAdded %> </li>
                            </ul>
                        </div><!-- end meta -->

                        <div id="content-detail">
                            <%- blog.blogContent %>
                        </div>

                        <hr>

                    </div><!-- end post-padding -->

                    <hr class="invis">

                    <div class="post-padding">
                        <div id="disqus_thread"></div>
                        <script>

                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*
                             var disqus_config = function () {
                             this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                             this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                             };
                             */
                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = '//www-edushala-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    </div><!-- end post-padding -->
                </div><!-- end content -->

                <div class="sidebar col-md-3 col-sm-12">
                    <div class="widget clearfix">
                        <a href="#"><img src="/images/course2.jpg" alt="" class="img-responsive"></a>
                    </div>

                     <div class="widget clearfix">
                     <div class="widget-title">
                            <h3>Latest Articles</h3>
                            <hr>
                        </div>

                        <div id="related-posts" class="related-posts">
                            <% for (var i = 0; i < articles.length; i++) { %>
                            <div class="entry"><p><a href="/blog/<%= articles[i]._id %>"> <%= articles[i].title %> </a></p><small> <%= articles[i].dateAdded %>  </small></div>
                            <% }%>
                        </div><!-- end related -->

                    </div><!-- end widget -->

                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->

    </div><!-- end section -->
</section>


<footer id="footer">
    <% include ../common/footer %>
</footer>

</body>
</html>